@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #e2e2e2;
}
nav {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-around;
    height: 90px;
    line-height: 90px;
    z-index: 10;
    box-shadow: 0px 10px 10px #0000002e ;
}
.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    color: #433371;
    text-transform: uppercase;
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 60px;
    background-color:#433371;
    margin: 9px 18px 0 0;
}
.logo b{
    background-image: 
    linear-gradient(to right,  #878ab5, #8572a4, #6b4c81 ,#8e4fbb, #ac65f3, #878ab5); 
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow 175s linear infinite;
}
@keyframes rainbow {
    to {
        background-position: 500vh;
    }
}
.navItems{
    display: flex;
    align-items: center;
    transition: all .2s;
}
.navItems li{
    list-style: none;
    margin: 0 20px;
}
.navItems li:hover{
    transform: scale(1.1);
}
.navItems li a {
    font-size: 25px;
    color: #433371;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a, .links a:hover {
    color: #a455ff;
    text-shadow: 0 0 10px #a455ff;
}
.links a{
    font-size: 30px;
    color: #433371;
    margin: 25px 10px;
}
.links i{
    height: 50px;
    width: 50px;
    transition: all .2s;
}
.links i:hover{
    transform: scale(1.2);
}
.contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    text-align: center;
    margin: 5% 18% 30px 18%;
}
.content h1{
    font-size: 90px;
    color: #433371;
    margin-bottom: 20px;
}
.content h1 b{
    background-image: 
    linear-gradient(to right,  #878ab5, #8572a4, #6b4c81 ,#8e4fbb, #ac65f3, #ab56ff, #878ab5); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow 175s linear infinite;
}
.content p{
    font-size: 20px;
    color: #433371;
}
.contactForm{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 40%;
    padding: 40px;
    margin-top:20px;
    background-color: #e2e2e2;
    box-shadow: 0 0 30px #433371;
}
.contactForm h2{
    font-size: 32px;
    color: #433371;
}
.contactForm h2 b{
    background-image: 
    linear-gradient(to right,  #878ab5, #8572a4, #6b4c81 ,#8e4fbb, #ac65f3, #ab56ff, #878ab5); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  animation: rainbow 175s linear infinite;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    height: auto;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #433371;
    outline: none;
    resize: none;
}
/* .contactForm .inputBox textarea{
    resize: vertical;
} */
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #878ab5;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #a455ff;
    font-size: 13px;
    transform: translateY(-20px);
}
.contactForm .inputBox button{
    width: 100px;
    background: #e2e2e2;
    color: #433371;
    border: 2px solid #433371;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 25px;
    transition: all .2s;
}
.contactForm .inputBox button:hover{
    box-shadow: 0 0 15px #a455ff;
    text-shadow: 0 0 10px #ab56ff;
    transform: scale(1.1);
    background-color: #e1c6ff;

}